body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("farm.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1 {
  font-size: 65px;
  font-family: "Tilt Prism", cursive;
  color: rgb(176, 166, 33);

  position: absolute;
  top: 0%;
  left: 50%;
  padding-top: 30px;
  transform: translateX(-50%);
  text-align: center;
}

.image-container {
  position: relative;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}
img {
  width: 200px;
  cursor: pointer;
  border-radius: 10px;
}

}
img:hover {
  transform: scale(1.5);
  transition: 1s;
  z-index: 2;
}
@media (max-width: 768px) {
  h1 {
    font-size: 30px;
  }


  .image-container {
    flex-direction: column;
    align-items: center;
  }

  img {
    width: 100px;
  }
}
